#!/bin/sh
# {{ ansible_managed }}

nice -n 20 /usr/local/bin/backup perform --trigger "{{ item.name | regex_replace('[^a-zA-Z]+', '_') }}" --config-file "{{ backup_setup.config_dir }}/config.rb" --data-path "{{ backup_setup.data_dir }}" --tmp-path "{{ backup_setup.tmp_dir }}" > "{{ backup_setup.log_dir }}/backup-{{ item.name | regex_replace('[^a-zA-Z]+', '_') }}-{{ item.type }}.log" 2>&1
