# {{ ansible_managed }}

##
# Backup Generated: backup_files
# Once configured, you can run the backup with the following command:
#
# $ backup perform -t backup_files [-c <path_to_configuration_file>]
#
# For more information about Backup's components, see the documentation at:
# http://backup.github.io/backup
#
Model.new(:{{ item.key | regex_replace('[^a-zA-Z]+', '_') }}, '{{ item.key }} MariaDB dump') do

  ##
  # MySQL [Database]
  #
  database MySQL do |db|
    # To dump all databases, set `db.name = :all` (or leave blank)
    db.name               = "{{ item.value.env.DB_DATABASE }}"
    db.username           = "{{ mysql_root_user }}"
    db.password           = "{{ mysql_root_password }}"
    db.host               = "localhost"
    db.port               = 3306
  end

  ##
  # Compress with BZip2
  #
  compress_with Bzip2 do |compression|
    compression.level = 9
  end

  {% if 's3' in item.value.backup %}
  ##
  # Amazon Simple Storage Service [Storage]
  #
  store_with S3 do |s3|
    # AWS Credentials
    s3.access_key_id     = "{{ item.value.backup.s3.access_key_id }}"
    s3.secret_access_key = "{{ item.value.backup.s3.secret_access_key }}"
    # Or, to use a IAM Profile:
    # s3.use_iam_profile = true

    s3.region            = "{{ item.value.backup.s3.region }}"
    s3.bucket            = "{{ item.value.backup.s3.bucket }}"
    s3.path              = "{{ item.value.backup.s3.path }}"
    # s3.keep              = 5
    # s3.keep              = Time.now - 2592000 # Remove all backups older than 1 month.
  end
  {% endif %}

{% if 'slack' in item.value.backup %}
  ##
  # Slack [Notifier]
  #
  notify_by Slack do |slack|
    slack.on_success = true
    slack.on_warning = true
    slack.on_failure = true

    # The incoming webhook url
    # https://hooks.slack.com/services/xxxxxxxx/xxxxxxxxx/xxxxxxxxxx
    slack.webhook_url = '{{ item.value.backup.slack.webhook_url }}'


    ##
    # Optional
    #
    # The channel to which messages will be sent
    # slack.channel = 'ops-log'
    #
    # The username to display along with the notification
    # slack.username = 'backup@example.org'
  end
{% endif %}

end
